body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: purple;
    color: darkblue;
    font-weight: bold;
}

#title {
    font-size: 72px;
    line-height: 0;
    font-weight: bold;
}

p {
    font-size: 24px;
    font-weight: bold;
}

#survey-form {
    margin: auto;
    width: fit-content;
    border: 2px solid black;
    padding: 10px;
    background-color: violet;
    }

label {
    font-size: 24px;
    line-height: 1.5;
}

input {
    width: 100%;
}

textarea {
    width: 100%;
}