body {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#title {
    font-size: 72px;
}

#survey-form {
    a
    width: fit-content;
    border: 2px solid black;
    padding: 10px;
    margin-left: 25%;
    margin-right: 25%;
}
